@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Finlandica', sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    animation: blinker 1s linear infinite
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}