@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Finlandica', sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
}
.container{
    height: 100vh;
    display: flex;
    position: absolute;
    left: 10%;
    top: 40%;
}
.floating{
    position: absolute;
    left: 70%;
    top: 10%
}
span{
    animation: blinker 1s linear infinite
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}